# Configuración de Base de Datos
MONGODB_URI=

# Configuración de Correo (Gmail)
EMAIL_USER=
EMAIL_PASS=

# Configuración de Bitly (para acortar enlaces de imágenes en WhatsApp)
BITLY_TOKEN=

# URL de la Aplicación
APP_URL=
